body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fff;
}

canvas {
  border: 5px solid black;
  background: #cde7ff;
  display: block;
  margin: 0 auto;
}

#controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
}
