body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f6ff;
  text-align: center;
}

header {
  background: #0077aa;
  color: white;
  padding: 10px;
}

canvas {
  background: #cfefff;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

#interactBtn {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  background: #0077aa;
  color: white;
  border: none;
  border-radius: 6px;
}
