body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e8f6ff;
  text-align: center;
}

header {
  background: #0077aa;
  color: white;
  padding: 10px;
}

canvas {
  width: 320px;
  height: 480px;
  background: #ddd;
  display: block;
  margin: 12px auto;
  border-radius: 10px;
}

button {
  padding: 10px 18px;
  font-size: 16px;
  background: #0077aa;
  color: white;
  border: none;
  border-radius: 6px;
}
